 li{
     list-style-type: none;
 }
.about{
background-color: #FFF5F6;
padding-bottom: 40px;
padding-top: 125px;
background-image: url(../images/about/bg-milk-mob-1x.png);
background-repeat: no-repeat;
max-width: 1600px;
background-size: contain;
background-position: 50% 85%;
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .about {
    background-image: url(../images/about/bg-milk-mob-2x.png);
  }
}

   @media screen and(min-width: 773px) {
    background-image: none;
    padding-bottom: 66px;
   }
        
        @media screen and(min-width: 1280px) {
            background-size: contain;
            background-position: bottom;
            background-image: url(../images/about/bg-milk-desc-1x.png);
            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                .about {
              background-image: url(../images/about/bg-milk-desc-2x.png);
            }
          }
    }
}

.about-container{
display: flex;
flex-direction: column;
align-items: center;
@media screen and(min-width: 773px) {
   }
    @media screen and(min-width: 1280px) {
        padding-top: 40px;
    }

}

.how-its-made-wrapper{
    display: flex;
    flex-direction: column;
    @media screen and(min-width: 320px) {
        flex-direction: column;
       }
       @media screen and(min-width: 773px) {
        flex-direction: row;
        justify-content: space-between;
        }
        @media screen and(min-width: 1280px) {
            justify-content: center;
        }
}

.how-its-made-picture-wrapper{
    width:100%;
    @media screen and(min-width: 320px) {
        width:100%;
      }
      @media screen and(min-width: 773px) {
        width: 340px;
        width: 340px;
        margin-right: 17px;

       }
       @media screen and(min-width: 1280px) {
        width: 516px;
        margin-right: 74px;
       }
}


.how-its-made-title{
margin: 0 auto;
color:  #D41443;
font-family:  Titan One;
font-style: normal;
font-size: 34px;
line-height: calc(39/34);
text-align: center;
letter-spacing: 0.04em;
text-transform: uppercase;
margin-bottom: 26px;
width: 100%;
@media screen and(min-width: 320px) {
    width:200px;
    text-align: center;

         @media screen and(min-width: 773px) {
         font-size: 48px;
         line-height: calc(55/48);
         width: 432px;
         letter-spacing: 0.04em;
         margin-bottom: 100px;
            }
        @media screen and(min-width: 1280px) {
            font-size: 58px;
            letter-spacing: 0.06em;
            width: 534px;
            line-height: calc(66/58);
            letter-spacing: 0.04em;
            margin-bottom: 106px;
        }
   }

}

.how-its-made-article{
color:  #000000;
font-family: DM Sans;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: calc(19/12);
text-align: left;
margin-bottom: 45px;
@media screen and(min-width: 320px) {
    width:220px;
   }
     @media screen and(min-width: 773px) {
     font-size: 14px;
     line-height: calc(25/14);
     width: 340px;
     margin-top: 0;
     margin-bottom: 35px;
        }
    @media screen and(min-width: 1280px) {
        width: 463px;
        font-size: 16px;
        line-height: calc(28/16);
        letter-spacing: 0.04em;
    }
}
.how-its-made-text{
color: #907E82;
font-family: DM Sans;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: calc(19/12);

margin-bottom: 17px;
@media screen and(min-width: 320px) {
    width:220px;
   }
    @media screen and(min-width: 773px) {
        font-size: 14px;
        line-height: calc(25/14);
        width: 340px;
        letter-spacing: 0.04em;
      }
    @media screen and(min-width: 1280px) {
        width: 463px;
        font-size: 16px;
        line-height: calc(28/16);
        letter-spacing: 0.04em;
    }
}

.how-its-made-text-second{
color: #907E82;
font-family: DM Sans;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: calc(19/12);
margin-bottom: 17px;
@media screen and(min-width: 320px) {
    width:220px;
   }
    @media screen and(min-width: 773px) {
        font-size: 14px;
        line-height: calc(25/14);
        width: 340px;
        letter-spacing: 0.04em;
        margin-bottom: 62px;
      }
    @media screen and(min-width: 1280px) {
        width: 463px;
        font-size: 16px;
        line-height: calc(28/16);
        letter-spacing: 0.04em;
    }
}


.how-its-made-tradition{
margin: 0 auto;
color: #FFA5BA;
font-family: Titan One;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: calc(21/18);
text-align: center;
text-transform: uppercase;
margin-bottom: 15px;
width: 100%;
@media screen and(min-width: 320px) {
    width: 200px;
   }
    @media screen and(min-width: 773px) {
        font-size: 26px;
        line-height: calc(30/26);
        width: 285px;
      }
    @media screen and(min-width: 1280px) {
        width: 463px;
        font-size: 30px;
        line-height: calc(34/30);
    }
}

.read-more-button{
display: flex;
align-items:center;
justify-content:center;
background-color: #FFFFFF;
border-radius: 22px;
width: 100%;
height: 44px;
font-family: "DM Sans";
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: calc(18/14);
text-align: center;
color: #D41443;
border: none;
cursor: pointer;
transition: background-color .5s cubic-bezier(.4,0,.2,1);
@media screen and(min-width: 320px) {
    width: 176px;
   }
   @media screen and(min-width: 773px) {
    width: 176px;
    font-size: 16px;
line-height: calc(21/16);
   }
   @media screen and(min-width: 1280px) {
    width: 176px;
    font-size: 16px;
    line-height: calc(21/16);
   }
}

.read-more-button:hover  ,
.read-more-button:focus {
   background-color: #D41443;
   color: #FFFFFF;
}

.read-more-button:hover .read-more-button-icon ,
.read-more-button:focus .read-more-button-icon{
   fill: #FFFFFF;
}

.read-more-button-icon{
    fill: #D41443;
    margin-left: 14px;
    width: 10;
     height:10;

}
.how-its-made-cow-picture{
    width: 100%;
    @media screen and(min-width: 320px) {
       width: 280px;
      }
      @media screen and(min-width: 773px) {
        width: 100%;
       }
       @media screen and(min-width: 1280px) {
        width: 516px;
       }
}

.how-its-made-text-wrapper{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.backdrop-second{
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    background-color: rgb(254, 165, 187, 0.2);
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: opacity, visibility;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  
.backdrop-button-close{
    background-color: #fea5bb;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    border: none;
    cursor: pointer;


}

.backdrop-button-close:hover .icon-close-menu,
.backdrop-button-close:focus .icon-close-menu{
    fill: #D41443;
}

.backdrop-second-wrapper{
    position: relative;
    max-width: 87%;
    min-height: 67%;
    padding: 40px;
    background: $first;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transform: scale(1) ;
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    padding: 30px 30px 30px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and(min-width: 320px) {
        max-width: 87%;
        min-height: 67%;
       }
       @media screen and(min-width: 773px) {
        max-width: 628px;
        min-height: 650px;
       }
       @media  screen and (min-width: 1280px) {
        max-width: 628px;
        min-height: 650px;
        }
}



.how-its-made-backdrop-title{
    margin: 0 auto;
    color: #D41443;
    font-family:  Titan One;
    font-style: normal;
    font-size: 28px;
    line-height: calc(35/28);
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-bottom: 15px;
    @media screen and(min-width: 773px) {
        width: 320px;
       }
       @media screen and(min-width: 1280px) {
        width: 420px;
        font-size: 30px;
        line-height: calc(34/30);
       }

}
.how-its-made-backdrop-text{
    text-indent: 1.5em; 
    color: #D41443;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: calc(19/12);
    @media screen and(min-width: 773px) {
        font-size: 14px;
        line-height: calc(22/14);
       }
       @media screen and(min-width: 773px) {
        font-size: 18px;
        line-height: calc(30/18);
       }


}

.how-its-made-backdrop-item{
    color:  #D41443;
    font-family:  Titan One;
    font-style: normal;
    font-size: 18px;
    line-height: calc(21/18);
    @media screen and(min-width: 773px) {

        margin-bottom: 15px;
       }
       @media screen and(min-width: 773px) {

        margin-bottom: 40px;
       }
}
.how-its-made-backdrop-item:last-child{
    margin-bottom: 15px;
    @media screen and(min-width: 773px) {

        margin-bottom: 45px;
       }
}

