.advantages {
  background-color: $thirteenth;
}

.advantages__container {
  @media screen and (max-width: 767px) {
    padding-bottom: 97px;
  }
  @media screen and (min-width: 768px) {
    padding-bottom: 140px;
  }
  @media screen and (min-width: 1280px) {
    padding-bottom: 139px;
  }
}

.advantages-list {
  @media screen and (min-width: 768px) {
    display: flex;
    margin: -30px;
  }
  @media screen and (min-width: 1280px) {
    display: flex;
    margin: -15px;
  }
}

.advantages-list__item::before {
  content: '';
  display: block;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: left;
  background-color: transparent;
  margin-bottom: 16px;
  @media screen and (min-width: 768px) {
    margin-bottom: 36px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 40px;
  }
}

.advantages-list__bucket-milk::before {
  background-image: url(../images/advantages/advantages-1-1x.png);
}

.advantages-list__bucket-apple::before {
  background-image: url(../images/advantages/advantages-2-1x.png);
}

.advantages-list__ice-cream::before {
  background-image: url(../images/advantages/advantages-3-1x.png);
}

.advantages-list__item {
  width: 230px;
  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 38px;
    }

    @media screen and (min-width: 768px) {
      width: 180px;
    }
    @media screen and (min-width: 1280px) {
      width: 330px;
    }
  }
  @media screen and (min-width: 768px) {
    width: 180px;
    flex-basis: calc((100% - 6 * 30px) / 3);
    margin: 30px;
  }
  @media screen and (min-width: 1280px) {
    width: 330px;
    flex-basis: calc((100% - 6 * 15px) / 3);
    margin: 15px;
  }
}

.advantages-list__item:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 38px;
  }
}

// .advantages-list__img {
//   margin-bottom: 16px;
//   @media screen and (max-width: 768px) {
//     margin-bottom: 36px;
//   }
//   @media screen and (max-width: 1280px) {
//     margin-bottom: 40px;
//   }
// }

.advantages-content__subtitle {
  margin-bottom: 9px;
  font-family: Titan One;
  font-size: 36px;
  line-height: calc(41 / 36);
  letter-spacing: 0.04em;
  color: $second;
  @media screen and (min-width: 768px) {
    margin-bottom: 13px;
    font-size: 48px;
    line-height: calc(55 / 48);
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 15px;
    font-size: 58px;
    line-height: calc(66 / 58);
  }
}
.advantages-content__text {
  font-family: DM Sans;
  font-weight: 700;
  font-size: 12px;
  line-height: calc(20 / 12);

  color: $third;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: calc(24 / 14);
  }
  @media screen and (min-width: 1280px) {
    width: 330px;
    font-size: 16px;
    line-height: calc(28 / 16);
    letter-spacing: 0.02em;
  }
}
