p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0 auto;
}
.container {
  margin: 0 auto;
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1280px) {
    width: 1280px;
  }
}
.section__contacts {
  margin: 0 auto;
  padding-top: 85px;
  background-clip: content-box;
  background-color: $thirteenth;
  @media screen and (min-width: 768px) {
    padding-top: 78px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 102px;
    background-image: url(../images/contacts/sectionbg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 25%;
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/contacts/sectionbg@2x.png);
    }
  }
}
.container__contacts {
  padding-left: 50px;
  padding-right: 50px;
  transform: translateY(-85px);
  @media screen and (min-width: 768px) {
    padding-left: 36px;
    padding-right: 36px;
    transform: translateY(-78px);
  }
  @media screen and (min-width: 1280px) {
    padding-left: 115px;
    padding-right: 115px;
    transform: translateY(-102px);
  }
}

.contact__list {
  display: block;
  padding-left: 0;
  list-style: none;
  @media screen and (min-width: 768px) {
    display: flex;
    padding: 0;
    justify-content: center;
  }
}
.contact__card {
  margin-bottom: 20px;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  background-color: $first;
  @media screen and (min-width: 768px) {
    width: 100%;
    margin-bottom: 0;
    margin-left: 20px;
    flex-basis: calc((100% - 60) / 3);
    &:nth-child(1) {
      margin-left: 0;
    }
  }
  @media screen and (min-width: 1280px) {
    margin-left: 30px;
    flex-basis: calc((100% - 90) / 3);
    &:nth-child(1) {
      margin-left: 0;
    }
  }
}
.contact__address {
  display: block;
  padding: 43px 21px 43px 20px;
  @media screen and (min-width: 768px) {
    padding: 50px 32px 50px 31px;
  }
  @media screen and (min-width: 1280px) {
    padding: 51px 44px 62px 43px;
  }
}
.card__header {
  display: flex;
  margin-bottom: 25px;
  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 32px;
  }
}
.card__name {
  min-width: 80px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
  color: $first;
  background-color: $eighth;
  border-radius: 4px;
  text-transform: uppercase;
  &--green {
    background-color: $tenth;
    min-width: 130px;
  }
  @media screen and (min-width: 768px) {
    min-width: 73px;
    height: 28px;
    font-size: 16px;
    &--green {
      background-color: $tenth;
      min-width: 138px;
    }
  }
}
.card__position {
  padding-bottom: 25px;
  border-bottom: 1px solid $fourth;
  @media screen and (min-width: 768px) {
    padding-bottom: 30px;
  }
  @media screen and (min-width: 1280px) {
    padding-bottom: 32px;
  }
}
.card__title {
  margin-bottom: 10px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
  color: $third;
  &--schedule {
    margin-bottom: 0;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 14px;
    font-size: 14px;
    &--schedule {
      margin-bottom: 0;
    }
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    margin-bottom: 10px;
    &--schedule {
      margin-bottom: 0;
    }
  }
}
.card__address {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: $sixth;
  &--map {
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
    font-family: Titan One;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $fifth;
  }
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.66;
    &--map {
      font-size: 14px;
      line-height: 1.66;
      text-align: center;
      font-family: Titan One;
      font-style: normal;
      font-weight: normal;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: $fifth;
    }
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.83;
    &--map {
      text-align: center;
      font-family: Titan One;
      font-style: normal;
      font-weight: normal;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: $fifth;
    }
  }
}
.card__schedule {
  list-style: none;
  padding: 25px 0;
  border-bottom: 1px solid $fourth;
  @media screen and (min-width: 768px) {
    padding: 30px 0;
  }
  @media screen and (min-width: 1280px) {
    padding: 32px 0;
  }
}
.schedule__first {
  margin-bottom: 10px;
  @media screen and (min-width: 768px) {
    margin-bottom: 16px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 15px;
  }
}
.card__time {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  color: $fifth;
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
  }
}
.card__contacts {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  @media screen and (min-width: 768px) {
    padding-top: 30px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 32px;
  }
}
.card__link {
  text-decoration: none;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: $sixth;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.83;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
  }
}
.contacts__buttons {
  margin-top: 54px;
  list-style: none;
  display: block;
  padding-left: 0;
  text-align: center;
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    margin-top: 81px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 86px;
  }
}
.button__items {
  margin-bottom: 10px;
  &:nth-child(2) {
    margin-bottom: 0;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
    margin-right: 15px;
    &:nth-child(2) {
      margin-right: 0;
    }
  }
}
.button__item {
  padding: 0;
  min-width: 162px;
  min-height: 44px;
  background-color: $fifteenth;
  border-radius: 22px;
  border: none;
  cursor: pointer;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: $first;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: $seventh;
  }
  &--second {
    color: $second;
    background-color: $first;
    &:hover,
    &:focus {
      background: $seventeenth;
    }
  }
  @media screen and (min-width: 768px) {
    min-width: 191px;
    &--second {
      min-width: 174px;
    }
  }
  @media screen and (min-width: 1280px) {
    min-width: 198px;
    &--second {
      min-width: 180px;
    }
  }
}
.button__icon {
  margin-left: 12px;
  &--white {
    margin-left: 8px;
  }
}
.backdrop__locations {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    .modal {
      transform: scale(2);
    }
  }
  @media screen and (min-width: 300px) {
    padding: 15px;
    overflow-y: scroll;
  }
  @media screen and (min-width: 768px) {
    padding: 159px;
    overflow-y: scroll;
  }
}

.modal__locations {
  position: relative;
  max-width: 450px;
  min-height: 609px;
  padding: 40px;
  background-color: $thirteenth;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 1280px) {
    min-width: 928px;
    min-height: 581px;
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    min-width: 600px;
    min-height: 581px;
  }
}

.locations__close-icon {
  width: 18px;
  height: 18px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.locations__close-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: $first;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &:hover,
  &:focus {
    fill: $second;
  }
}

.locations__title {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 34px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $fifth;
  @media screen and (min-width: 320px) {
    font-size: 18px;
    line-height: calc(30 / 18);
    text-align: center;
  }
  @media screen and (min-width: 480px) and (max-width: 1279px) {
    font-size: 20px;
    line-height: calc(30 / 20);
    text-align: center;
  }
  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: 34px;
  }
}
.map {
  height: 90%;
}
.map__box {
  display: block;
  text-align: center;
  width: 100%;
  height: 100%;
  border-radius: 14px;
}
