.gallery {
  padding-bottom: 80px;
  min-width: 100%;
  background: linear-gradient(to bottom, $thirteenth 40%, $first 40%);
} 

.gallery-wrapper {
  padding-right: 40px;
  max-width: 1600px;
  margin: auto;
}

.grid {
  width: 100%;
  margin: 0 auto;
    @media screen and (min-width: 480px) {
    padding-bottom: 80px; 
    
  }
  @media screen and (min-width: 768px){
    padding-bottom: 120px; 
  }
  
}

.grid-item {
  img {
    width: 100%;
    height: auto;
      border: none;
      border-radius: 8px;
      margin-bottom: 5px;
      padding: 0px;
  }
}

.grid-item--width1{
width: 12%;
}

.grid-item--width2{
  width: 35%;
}

.grid-item--width3{
  width: 25%;
}

.grid-item--width4{
  width: 20%;
}