.products {
  padding-top: 121px;
  padding-bottom: 98px;
  @media screen and (min-width: 768px) {
    padding-top: 122px;
    padding-bottom: 112px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 127px;
    padding-bottom: 119px;
  }
}

.products__container {
  align-items: center;
  text-align: center;
}

.product__container-pretitle {
  @include font('Titan One', 18px, 400, 1.17, null, $fifth);
  text-align: center;
  margin-bottom: 15px;
  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: calc(30 / 26);
  }
  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: calc(34 / 30);
  }
}

.products__container-title {
  @include font('Titan One', 34px, 400, 1.15, null, $second);
  text-align: center;
  margin-bottom: 144px;
  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: calc(55 / 48);
    margin-bottom: 150px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 58px;
    line-height: calc(66 / 58);
    margin-bottom: 259px;
  }
}

.products-list {
  display: block;
  justify-content: center;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -10px;
  }
  @media screen and (min-width: 1280px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -50px;
  }
}

.products-list__item {
  position: relative;
  min-width: 280px;
  width: 100%;
  min-height: 485px;
  height: 100%;
  border-radius: 24px;
  // padding-right: 40px;
  // padding-left: 40px;
  justify-content: center;
  // flex-grow: 1;
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 130px;
    }
  }
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 6 * 10px) / 3);
    min-width: 220px;
    min-height: 485px;
    margin-left: 10px;
  }
  @media screen and (min-width: 1280px) {
    flex-basis: calc((100% - 6 * 15px) / 3);
    max-width: 330px;
    min-height: 525px;
    &:not(:first-child) {
      margin-left: 20px;
    }
  }
}

.products-list__item::before {
  display: block;
  position: absolute;
  content: '';
  min-width: 249px;
  min-height: 252px;
  margin: auto;
  right: 0;
  left: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: -50%;
  transform: translate(0%, -45%);
  background-color: transparent;
  @media screen and (min-width: 768px) {
    min-width: 220px;
    min-height: 224px;
    background-position-x: 50%;
    background-position-y: -50%;
    transform: translate(0%, -45%);
  }
  @media screen and (min-width: 1280px) {
    max-width: 335px;
    min-height: 335px;
    background-position-x: 50%;
    background-position-y: -50%;
    transform: translate(0%, -65%);
  }
}

.products-list__ice-cream::before {
  background-image: url(../images/products/ice-cream-desc-1x.png);
}

.products-list__ice-coffee::before {
  background-image: url(../images/products/ice-coffee-desc-1x.png);
}

.products-list__milkshake::before {
  background-image: url(../images/products/milkshake-desc-1x.png);
}

.products-list__card {
  position: relative;
  //   opacity: 0;
  //   &:hover .card-text {
  //     transform: translateY(-8%);
  //   }
}

.products-list__card-text {
  opacity: 1;
  position: absolute;
  top: 138px;
  left: 0;
  height: 60%;
  width: 100%;
  border-radius: 24px;
  // transform: scale(1);
  //   transition-property: transform;
  //   transition-duration: 1250ms;
  //   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition: 350ms cubic-bezier(0.4, 0, 0.2, 1), color 350ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 63px 24px;
  //   overflow-y: scroll;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  color: $first;

  @media screen and (min-width: 768px) {
    top: 123px;
    height: 58%;
  }
  @media screen and (min-width: 1280px) {
    top: 110px;
    height: 62%;
  }
  //   background: rgba(33, 177, 243, 0.4);
}

.is-hidden-ice-cream,
.is-hidden-ice-coffee,
.is-hidden-milkshake {
  opacity: 0;
}

.card-text__ice-cream {
  background: $twelfth;
}

.card-text__ice-coffee {
  background: $eighth;
}

.card-text__milkshake {
  background: $tenth;
}

.card__close-icon {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.card__close-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: $first;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &:hover,
  &:focus {
    fill: $second;
  }
}

.products-list__item:nth-child(1) {
  background-color: $twelfth;
}

.products-list__item:nth-child(2) {
  background-color: $eighth;
}

.products-list__item:nth-child(3) {
  background-color: $tenth;
}

.products-list__container-title {
  @include font('Titan One', 20px, 400, 1.15, null, $first);
  text-transform: uppercase;
  letter-spacing: 0.04em;
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 32px;
  }
}

.products-list__container-text {
  @include font('DM Sans', 14px, 700, 1.52, null, $first);
  margin-bottom: 30px;
  padding-right: 13px;
  height: 124px;
  overflow-y: scroll;
  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 62px;
  }
}

.products-list__container {
  // display: flex;
  position: absolute;
  // flex-direction: column;
  justify-content: space-around;
  padding-top: 161px;
  padding-left: 40px;
  padding-right: 40px;
  width: 100%;
  @media screen and (min-width: 768px) {
    padding-top: 152px;
    padding-bottom: 40px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 163px;
    padding-bottom: 50px;
  }
}

.three-dots {
  display: inline-block;
  position: relative;
  background-color: $first;
  border-radius: 5px;
  font-size: 0;
  margin-left: 0px;
  margin-bottom: 30px;
  padding: 4px;
  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 32px;
  }
}

.three-dots:before {
  position: absolute;
  left: -12px;
  top: 0;
  content: '';
  background-color: $first;
  border-radius: 5px;
  font-size: 0;
  padding: 4px;
}

.three-dots:after {
  position: absolute;
  left: 12px;
  top: 0;
  content: '';
  background-color: $first;
  border-radius: 5px;
  font-size: 0;
  padding: 4px;
}

.product-list__container-btn {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $first;
  border: none;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  margin: auto;
  &:hover,
  &:focus {
    background-color: $second;
  }
}

.product-list__container-btn-icon {
  fill: $second;
  .product-list__container-btn:active &,
  .product-list__container-btn:hover &,
  .product-list__container-btn:focus & {
    fill: $first;
  }
}
