.products{
    padding-top: 121px;
    padding-bottom: 98px;
}

.products__container{
    text-align: center;
}

.product__container-pretitle{
    @include font (inherit, 18px, 400, 1.17, null, $fifth);
        @media screen and (max-width: 767px){
         margin-bottom: 15px;
        } 
}

.products__container-title{
    @include font (inherit, 34px, 400, 1.15, null, $second);
    @media screen and (max-width: 767px){
         margin-bottom: 144px;
        }       
}

.products-list{
// @media screen and (max-width: 767px){
    display: block;
    // }
}

.products-list__item{
    width: 280px;
    height: 485px;
    border-radius: 24px;
    // flex-grow: 1;
    &:not(:last-child){
        margin-bottom: 130px;
        }
}
.products-list__item::before{
    display: block;
    content: "";
    width: 249px;
    height: 252px;
    // border: none;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: -25%;
    background-color: transparent;
}

.products-list__ice-cream::before{
background-image: url(../images/products/ice-cream-desc-1x.png);
}

.products-list__ice-coffee::before{
    background-image: url(../images/products/ice-coffee-desc-1x.png);
}

.product-list__milkshake::before{
background-image: url(../images/products/milkshake-desc-1x.png);
}

.products-list__container{
    width: 100%;
    padding: 161px 39px 111px 41px;
}

.products-list__container:nth-child(1){
    background-color: $twelfth;
}

.products-list__container:nth-child(2){
    background-color: $eighth;
}

.products-list__container:nth-child(3){
    background-color: $tenth;
}

.products-list__container-title{
    @include font (inherit, 20px, 400, 1.15, null, $first);
    margin-bottom: 66px;
}

.products-list__container-text{
    @include font (inherit, 14px, 700, 1.52, null, $first);
}

.products-list__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
