$first: #ffffff;
$second: #d41443;
$third: #000000;
$fourth: #e1e1e1;
$fifth: #ffa5ba;
$sixth: #907e82;
$seventh: #c7133e;
$eighth: #f0d1a5;
$ninth: #fea5bb;
$tenth: #c2e297;
$eleventh: #d9d9d9;
$twelfth: #ffb8ca;
$thirteenth: #fff5f6;
$fourteenth: #d31342;
$fifteenth: #d41342;
$sixteenth: #fafafa;
$mobile-bgr: #E17992;
$mob-border: #E18298;
$hover-focus: #ECEBEB;