<section class="advantages">
    <div class="container advantages__container">
        <h2 class="advantages__title visually-hidden">advantages</h2>
        <ul class="advantages-list list">
            <li class="advantages-list__item advantages-list__bucket-milk">
                    <p class="advantages-content__subtitle">721</p>
                    <p class="advantages-content__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>

            <li class="advantages-list__item advantages-list__bucket-apple">
                    <p class="advantages-content__subtitle">16kg</p>
                    <p class="advantages-content__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>

            <li class="advantages-list__item advantages-list__ice-cream">
                    <p class="advantages-content__subtitle">84</p>
                    <p class="advantages-content__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>