<section class="section__contacts">
    <div class="container container__contacts">
        <h2 class="visually-hidden">Contacts</h2>
        <ul class="contact__list">
            <li class="contact__card">
                <address class="contact__address">
                    <div class="card__header">
                        <p class="card__name">Cafe</p>
                    </div>
                    <div class="card__position">
                        <h3 class="card__title">Chicago</h3>
                        <p class="card__address">1664 S Blue Island Ave, Chicago, IL 60608, USA</p>
                    </div>
                    <div class="card__schedule">
                        <div class="schedule__first">
                            <h3 class="card__title card__title--schedule">Monday - Friday</h3>
                            <time class="card__time">
                            06:00 AM - 10:00 PM
                            </time>
                        </div>
                        <h3 class="card__title card__title--schedule">Saturday - Sunday</h3>
                        <time class="card__time">
                        08:00 AM - 16:00 PM
                        </time>
                    </div>
                    <div class="card__contacts">
                        <a class="card__link" href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
                        <a class="card__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </div>
                </address>
            </li>
            <li class="contact__card">
                <address class="contact__address">
                    <div class="card__header">
                        <p class="card__name card__name--green">Foodtruck</p>
                    </div>
                    <div class="card__position">
                        <h3 class="card__title">Los Angeles</h3>
                        <p class="card__address">101 W Manchester Ave, Los Angeles, CA 90003, USA</p>
                    </div>
                    <div class="card__schedule">
                        <div class="schedule__first">
                            <h3 class="card__title card__title--schedule">Monday - Friday</h3>
                            <time class="card__time">
                                06:00 AM - 10:00 PM
                            </time>
                        </div>
                        <h3 class="card__title card__title--schedule">Saturday - Sunday</h3>
                        <time class="card__time">
                            08:00 AM - 16:00 PM
                        </time>
                    </div>
                    <div class="card__contacts">
                        <a class="card__link" href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
                        <a class="card__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </div>
                </address>
            </li>
            <li class="contact__card">
                <address class="contact__address">
                    <div class="card__header">
                        <p class="card__name">Cafe</p>
                    </div>
                    <div class="card__position">
                        <h3 class="card__title">New York</h3>
                        <p class="card__address">3215 John F. Kennedy Blvd, Union City, NJ 07087, USA</p>
                    </div>
                    <div class="card__schedule">
                        <div class="schedule__first">
                            <h3 class="card__title card__title--schedule">Monday - Friday</h3>
                            <time class="card__time">
                                06:00 AM - 10:00 PM
                            </time>
                        </div>
                        <h3 class="card__title card__title--schedule">Saturday - Sunday</h3>
                        <time class="card__time">
                            08:00 AM - 16:00 PM
                        </time>
                    </div>
                    <div class="card__contacts">
                        <a class="card__link" href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
                        <a class="card__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </div>
                </address>
            </li>
        </ul>
        <ul class="contacts__buttons">
            <li class="button__items">
                <button class="button__item" type="button">Our Locations
                    <!-- <svg>
                        <use href=""></use>
                    </svg> -->
            </li>
            <li class="button__items">
                <button class="button__item button__item--second" type="button">Franchise
                    <!-- <svg>
                        <use href=""></use>
                    </svg> -->
                </button>
            </li>
        </ul>
    </div>
</section>