<section class="section__contacts">
    <div class="container container__contacts">
        <h2 class="visually-hidden">Contacts</h2>
        <ul class="contact__list">
            <li class="contact__card">
                <address class="contact__address">
                    <div class="card__header">
                        <p class="card__name">Cafe</p>
                    </div>
                    <div class="card__position">
                        <p class="card__title">Chicago</p>
                        <p class="card__address">1664 S Blue Island Avenu, Chicago, IL 60608, USA</p>
                    </div>
                    <ul class="card__schedule">
                        <li class="schedule__first">
                            <p class="card__title card__title--schedule">Monday - Friday</p>
                            <time class="card__time">
                            06:00 AM - 10:00 PM
                            </time>
                        </li>
                        <li>
                            <p class="card__title card__title--schedule">Saturday - Sunday</p>
                            <time class="card__time">
                            08:00 AM - 16:00 PM
                            </time>
                        </li>
                    </ul>
                    <ul class="card__contacts">
                        <li><a class="card__link" href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a></li>
                        <li><a class="card__link" href="mailto:noreply@envato.com">noreply@envato.com</a></li>
                    </ul>
                </address>
            </li>
            <li class="contact__card">
                <address class="contact__address">
                    <div class="card__header">
                        <p class="card__name card__name--green">Foodtruck</p>
                    </div>
                    <div class="card__position">
                        <p class="card__title">Los Angeles</p>
                        <p class="card__address">101 W Manchester Avenu, Los Angeles, CA 90003, USA</p>
                    </div>
                    <ul class="card__schedule">
                        <li class="schedule__first">
                            <p class="card__title card__title--schedule">Monday - Friday</p>
                            <time class="card__time">
                                06:00 AM - 10:00 PM
                            </time>
                        </li>
                        <li>
                            <p class="card__title card__title--schedule">Saturday - Sunday</p>
                            <time class="card__time">
                                08:00 AM - 16:00 PM
                            </time>
                        </li>
                    </ul>
                    <ul class="card__contacts">
                        <li><a class="card__link" href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a></li>
                        <li><a class="card__link" href="mailto:noreply@envato.com">noreply@envato.com</a></li>
                    </ul>
                </address>
            </li>
            <li class="contact__card">
                <address class="contact__address">
                    <div class="card__header">
                        <p class="card__name">Cafe</p>
                    </div>
                    <div class="card__position">
                        <p class="card__title">New York</p>
                        <p class="card__address">3215 John F. Kennedy Blvd, Union City, NJ 07087, USA</p>
                    </div>
                    <ul class="card__schedule">
                        <li class="schedule__first">
                            <p class="card__title card__title--schedule">Monday - Friday</p>
                            <time class="card__time">
                                06:00 AM - 10:00 PM
                            </time>
                        </li>
                        <li>
                            <p class="card__title card__title--schedule">Saturday - Sunday</p>
                            <time class="card__time">
                                08:00 AM - 16:00 PM
                            </time>
                        </li>
                    </ul>
                    <ul class="card__contacts">
                        <li><a class="card__link" href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a></li>
                        <li><a class="card__link" href="mailto:noreply@envato.com">noreply@envato.com</a></li>
                    </ul>
                </address>
            </li>
        </ul>
        <ul class="contacts__buttons">
            <li class="button__items">
                <button class="button__item" type="button">Our Locations
                    <svg class="button__icon button__icon--white" width="7px" height="10px">
                        <use href="./images/contacts/symbol-defs1.svg#icon-vector2"></use>
                    </svg>
                </button>
            </li>
            <li class="button__items">
                <button class="button__item button__item--second" type="button">Franchise
                    <svg class="button__icon" width="7px" height="10px">
                        <use href="./images/contacts/symbol-defs1.svg#icon-vector-button"></use>
                    </svg>
                </button>
            </li>
        </ul>
    </div>
</section>