<article id="testim" class="customer-section">
    <div class="customer-container wrap">


        <div id="testim-content" class="customer__list">

            <div class="сustomer__card active">
                <h2 class="сustomer__title hidden">сustomer</h2>
                <picture class="customer__img">
                    <source srcset=" ./images/testimonials/testimonials-1d-1x.jpg 1x, ./images/testimonials/testimonials-1d-2x.jpg 2x" media="(min-width: 1280px)" width="85px" height="85px">
                    <source srcset="./images/testimonials/testimonials-1t-1x.jpg 1x, ./images/testimonials/testimonials-1t-2x.jpg 2x" media="(min-width: 768px)" width="85px" height="85px">
                    <source srcset="./images/testimonials/testimonials1m-1x.jpg 1x, ./images/testimonials/testimonials1m-2x.jpg 2x" media="(max-width: 767px)" width="85px" height="85px">
                    <img src="./images/testimonials/testimonials1m-1x.jpg" alt="сustomer1" width="85px" height="85px">
                </picture>

                <div class="сustomer__review">
                    <p class="customer__text cus-rev--gradient">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus..</p>
                </div>
                <div class="customer__thumb">
                    <h2 class="сustomer__title hidden"> name,address</h2>
                    <p class="customer__thumb--text">Emily, Los Angeles</p>
                    <ul id="testim-dots" class="сustomer__dots">
                        <li class="dot">
                            <span class="сustomer__dots--svg active"><svg width="12.5" height="12.5">
                                            <use href="./images/symbol-defs.svg#icon-home-1"></use>
                                        </svg></span></li>
                        <li class="dot">
                            <span class="сustomer__dots--svg"><svg width="12" height="12">
                                            <use href="./images/symbol-defs.svg#icon-Ellipse-7"></use>
                                        </svg></span>
                        </li>
                        <li class="dot">
                            <span class="сustomer__dots--svg"><svg width="12" height="12">
                                            <use href="./images/symbol-defs.svg#icon-Ellipse-7"></use>
                                        </svg></span>
                        </li>

                </div>
            </div>
        </div>
    </div>
</article>