<article class="customer-section" id="about-us">
    <div class="customer-container wrap">


        <div class="customer__list slick-track feedback-container slick-initialized slick-slider slick-dotted">
            <div class=" сustomer__card">
                <h2 class="сustomer__title hidden">сustomer</h2>
                <div class="slick-list">
                    <div class="slick-track">

                        <div class="feedbac-card">
                            <picture class="customer__img">
                                <source srcset=" ./images/testimonials/testimonials-1d-1x.jpg 1x, ./images/testimonials/testimonials-1d-2x.jpg 2x" media="(min-width: 1280px)">
                                <source srcset="./images/testimonials/testimonials-1t-1x.jpg 1x, ./images/testimonials/testimonials-1t-2x.jpg 2x" media="(min-width: 768px)">
                                <source srcset="./images/testimonials/testimonials1m-1x.jpg 1x, ./images/testimonials/testimonials1m-2x.jpg 2x" media="(max-width: 767px)">
                                <img src="./images/testimonials/testimonials1m-1x.jpg" alt="сustomer1">
                            </picture>
                            <div class="сustomer__review">
                                <div class="сustomer__review--grad">
                                    <p class="customer__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus..</p>
                                </div>
                            </div>
                            <div class="customer-marker">
                                <span class="customer-three--dots"></span></div>
                            <h2 class="сustomer__title hidden"> name,address</h2>
                            <p class="customer__thumb--text">Emily, Los Angeles</p>
                        </div>
                        <div class="feedbac-card">
                            <picture class="customer__img">
                                <source srcset=" ./images/testimonials/testimonials2.jpg 1x, ./images/testimonials/testimonials2@2x.jpg 2x" media="(min-width: 1280px)">
                                <source srcset="./images/testimonials/testimonials2.jpg 1x, ./images/testimonials/testimonials2@2x.jpg 2x" media="(min-width: 768px)">
                                <source srcset="./images/testimonials/testimonials2.jpg 1x, ./images/testimonials/testimonials2@2x.jpg 2x" media="(max-width: 767px)">
                                <img src="./images/testimonials/testimonials2.jpg" alt="сustomer2">
                            </picture>
                            <div class="сustomer__review">
                                <div class="сustomer__review--grad">
                                    <p class="customer__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus..</p>
                                </div>
                            </div>
                            <div class="customer-marker">
                                <span class="customer-three--dots"></span></div>
                            <h2 class="сustomer__title hidden"> name,address</h2>
                            <p class="customer__thumb--text">Katy, Los Angeles</p>
                        </div>
                        <div class="feedbac-card">
                            <picture class="customer__img">
                                <source srcset="./images/testimonials/testimonials3.jpg 1x, ./images/testimonials/testimonials3@2x.jpg 2x" media="(min-width: 1280px)">
                                <source srcset="./images/testimonials/testimonials3.jpg 1x, ./images/testimonials/testimonials3@2x.jpg 2x" media="(min-width: 768px)">
                                <source srcset="./images/testimonials/testimonials3.jpg 1x, ./images/testimonials/testimonials3@2x.jpg 2x" media="(max-width: 767px)">
                                <img src="./images/testimonials/testimonials3.jpg" alt="сustomer3">
                            </picture>
                            <div class=" сustomer__review">
                                <div class="сustomer__review--grad">
                                    <p class="customer__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus..</p>
                                </div>
                            </div>
                            <div class="customer-marker">
                                <span class="customer-three--dots"></span></div>
                            <h2 class="сustomer__title hidden"> name,address</h2>
                            <p class="customer__thumb--text">Anna, Los Angeles</p>
                        </div>
                    </div>
                </div>


                <!--пагинация-->
                <div class="customer__thumb">

                    <ul class="сustomer__dots slick-dots" role="tablist">
                        <li class="dot list slick-active" role="presentation">
                            <a></a>
                            <!--<span class="сustomer__dots--svg active"><svg width="12.5" height="12.5">
                                            <use href="./images/symbol-defs.svg#icon-home-1"></use>
                                        </svg></span>-->
                        </li>
                        <li class="dot list slick-active" role="presentation">
                            <a></a>
                            <!--  <span class=" сustomer__dots--svg"><svg width="12" height="12">
                                            <use href="./images/symbol-defs.svg#icon-Ellipse-7"></use>
                                        </svg></span>-->
                        </li>
                        <li class="dot list slick-active" role="presentation">
                            <a></a>
                            <!--<span class="сustomer__dots--svg"><svg width="12" height="12">
                                            <use href="./images/symbol-defs.svg#icon-Ellipse-7"></use>
                                        </svg></span>-->

                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</article>