
<section class="gallery container">
  <div class="grid">
    <div class="grid-item grid-item--width1"><img src="./images/gallery/imgone.jpg" alt=""></div>
    <div class="grid-item grid-item--width1"><img src="./images/gallery/imgtwo.jpg" alt=""></div>
    <div class="grid-item grid-item--width1"><img src="./images/gallery/imgthree.jpg" alt=""></div>
    <div class="grid-item grid-item--width2"><img src="./images/gallery/imgfour.jpg" alt=""></div>
    <div class="grid-item grid-item--width1"><img src="./images/gallery/imgfive.jpg" alt=""></div>
    <div class="grid-item grid-item--width1"><img src="./images/gallery/imgsix.jpg" alt=""></div>
    <div class="grid-item grid-item--width1"><img src="./images/gallery/imgseven.jpg" alt=""></div>
    <div class="grid-item grid-item--width1"><img src="./images/gallery/imgeight.jpg" alt=""></div>
    <div class="grid-item grid-item--width1"><img src="./images/gallery/imgnine.jpg" alt=""></div>
    <div class="grid-item grid-item--width1"><img src="./images/gallery/imgten.jpg" alt=""></div>
    <!-- <picture>

<section class="gallery" id="gallery">
  <div class="gallery__container">
    <picture>

      <source media="(min-width: 1280px)" alt="Общее фото галереи" srcset="./images/gallery/gallery-desc-1x.png 1x, ./images/gallery/gallery-desc-2x.png 2x">
      <source media="(min-width: 768px)" alt="Общее фото галереи" srcset="./images/gallery/gallery-tab-1x.png 1x, ./images/gallery/gallery-tab-2x.png 2x">
      <img class="gallery__foto" srcset="
    ./images/gallery/gallery-mob-1x.png  1x,
    ./images/gallery/gallery-mob-2x.png 2x
    " src="./images/gallery/gallery-desc-1x.png" alt="Общее фото галереи"  />
    </picture> -->
  </div>
</section>