<header class="header">
    <div class="main-header">
        <a href="" class="logo link">
            <picture>
                <source 
                    srcset="./images/logo/logo-1x.png 1x,
                            ./images/logo/logo-2x.png 2x"
                    media="(min-width: 320px )" >
                                    
                <img
                    src="./images/logo/logo-1x.png" 
                    alt="Logo" 
                    width="199">
            </picture>
        </a>
        <button 
            class="menu-open-btn menu-toggle js-open-menu" 
            aria-expanded="false" 
            aria-controls="mobile-menu">
            <svg  class="burger-icon">
                <use class="icon-open-menu" href="./images/symbol-defs.svg#burger"></use>
            </svg>
        </button>
    </div>
</header>
    <section class="hero">
            <h1 class="hero_title">ice cream made with <span class="hero_title_red">passion</span></h1>
            <ul class="hero-btn list">
                <li class="hero-btn_item ">
                    <a class="hero-btn_link link " href="">Products</a>
                </li>
                <li class="hero-btn_item">
                    <a class="hero-btn_link link second-btn" href="">How it’s made?</a>
                </li>
            </ul>
    </section>
    