<section class="hero " id="home">
    <div class="hero-container container">
        <picture class="ice-cream">
            <source srcset="./images/hero/hero-ice-cream-desc-1x.png 1x,
                            ./images/hero/hero-ice-cream-desc-2x.png 2x" media="(min-width: 1280px )">
            <source srcset="./images/hero/hero-ice-cream-tab-1x.png 1x,
                            ./images/hero/hero-ice-cream-tab-2x.png 2x" media="(min-width: 768px )">
            <source srcset="./images/hero/hero-ice-cream-mob-1x.png 1x,
                            ./images/hero/hero-ice-cream-mob-2x.png 2x" media="(min-width: 320px )">

            <img src="./images/hero/hero-ice-cream-tab-1x.png" alt="Logo" width="199">
        </picture>
        <picture class="natasha">
            <source srcset="./images/hero/hero-girl-tab-1x.png 1x,
                            ./images/hero/hero-girl-tab-2x.png 2x" media="(min-width: 1280px )">
            <source srcset="./images/hero/hero-girl-tab-1x.png 1x,
                            ./images/hero/hero-girl-tab-2x.png 2x" media="(min-width: 768px )">
            <img src="./images/hero/hero-girl-tab-1x.png" alt="Logo" width="199">
        </picture>
        <picture class="kuvshin">
            <source srcset="./images/hero/hero-kuvshin-desc-1x.png 1x,
                            ./images/hero/hero-kuvshin-desc-2x.png 2x" media="(min-width: 1280px )">
            <source srcset="./images/hero/hero-kuvshin-tab-1x.png 1x,
                            ./images/hero/hero-kuvshin-tab-2x.png 2x" media="(min-width: 768px )">
            <img src="./images/hero/hero-kuvshin-tab-1x.png" alt="Logo" width="199">
        </picture>
        <h1 class="hero_title">ice cream made with <span class="hero_title_red">passion</span></h1>
        <ul class="hero-btn list">
            <li class="hero-btn_item ">
                <a class="hero-btn_link link " href="#products">Products</a>
            </li>
            <li class="hero-btn_item">
                <a class="hero-btn_link link second-btn" href="#about">How it’s made?</a>
            </li>
        </ul>
        <div class="hero-text-wrapper">
            <p class="hero_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et</p>
            <button type="button" class="text-btn">
                <svg class="arrow">
                    <use href="./images/symbol-defs.svg#arrow"></use>
                </svg>
            </button>
        </div>
        <ul class="tab-list list">
            <li class="tab-list__item">
                <span class="tab-list__number">16</span>
                <p class="tab-list__text">cafes</p>
            </li>
            <li class="tab-list__item">
                <span class="tab-list__number">23</span>
                <p class="tab-list__text">food trucks</p>
            </li>
        </ul>
    </div>
</section>