 <div class="menu-container js-menu-container" id="mobile-menu" >
    <button type="button" class="menu-close-btn menu-toggle js-close-menu">
        <svg width="17" height="17">
            <use class="icon-close-menu" href="./images/symbol-defs.svg#close"></use>
        </svg>
    </button>
    <button type="button" class="mob-menu-btn" data-mob-modal-open>Buy now
        <svg width="8" height="11" class="icon-mob-menu">
            <use  href="./images/symbol-defs.svg#buy-now"></use>
        </svg>
    </button>
    <ul class="mob-menu-list list">
        <li class="mob-menu-item"><a href="#home" class="mob-menu-link link active">Home</a></li>
        <li class="mob-menu-item"><a href="#gallery" class="mob-menu-link link">About us</a></li>
        <li class="mob-menu-item"><a href="#about" class="mob-menu-link link">How it’s made?</a></li>
        <li class="mob-menu-item"><a href="#products" class="mob-menu-link link">Our products</a></li>
        <li class="mob-menu-item last_item"><a href="#contacts" class="mob-menu-link link">Contact</a></li>
    </ul>
 </div>