<div class="backdrop is-hidden"data-modal>
    <div class="modal">
            <button type="button" class="modal__close-btn" data-modal-close>
                <svg class="modal__close-icon">
                    <use href="./images/symbol-defs.svg#close-icon"></use>
                </svg>
            </button>
            <p class="modal__title">Leave your details, we"ll call you back</p>
            <form class="modal__form">
                <div class="modal-field">
                    <label for="user-name" class="modal-field__imput-label">Name</label>
                    <span class="modal-field__input-wrapper">
                        <input type="text"  name="user-name" id="user-name" class="modal-field__input">
                            <svg class="modal-field__input-icon">
                                <use href="./images/symbol-defs.svg#person"></use>
                            </svg>
                    </span>
                </div>
                <div class="modal-field">
                    <label for="user-tel" class="modal-field__imput-label">Phone number</label>
                    <span class="modal-field__input-wrapper">
                        <input type="tel"  name="user-tel" id="user-tel" class="modal-field__input">
                            <svg class="modal-field__input-icon">
                                <use href="./images/symbol-defs.svg#phone"></use>
                            </svg>
                    </span>
                </div>
                <div class="modal-field">
                    <label for="user-email" class="modal-field__imput-label">E-mail</label>
                    <span class="modal-field__input-wrapper">
                        <input  type="email" name="user-email" id="user-email" class="modal-field__input">
                            <svg class="modal-field__input-icon">
                                <use href="./images/symbol-defs.svg#email"></use>
                            </svg>
                    </span>
                </div>
                 <div class="modal-field coments-wrap">
                    <label for="user-coments" class="modal-field__imput-label">Comments</label>
                    <textarea name="user-coments" id="user-coments" placeholder="Comments" class="coments-wrap__text"></textarea>
                </div>
                <button type="submit" class="modal__btn">Отправить</button>
            </form>
        </div>
</div>