<section class="products">
    <div class="container products__container">
        <p class="product__container-pretitle">100% natural</p>
        <h2 class="products__container-title">Products</h2>
        <ul class="products-list list">
            <li class="products-list__item products-list__ice-cream">
                <div class="products-list__container">
                    <h3 class="products-list__container-title">ice cream</h3>
                    <span></span>
                   <p class="products-list__container-text">Our ice-cream has 54 so different, delicious and unique flavours that they would all have to be pretty mediocre in order for this brand to rank any lower on our list.</p>
                    <a class="product-list__container-btn" href="">
                                <svg class="product-list__container-btn-icon">
                                    <use href=""></use>
                                </svg>
                    </a>
                </div>
            </li>
            <li class="products-list__item products-list__ice-coffee">
                    <div class="products-list__container">
                            <h3 class="products-list__container-title">ice-coffee</h3>
                            <span></span>
                            <p class="products-list__container-text">Combine strong coffee with sweetened condensed milk, half-and-half, and a touch of vanilla extract and serve over ice!
                            Really delicious on hot days!Now we're reaching a new standard.</p>
                            <a class="product-list__container-btn" href="">
                                <svg class="product-list__container-btn-icon">
                                    <use href=""></use>
                                </svg>
                            </a>
                    </div>
            </li>
            <li class="products-list__item products-list__milkshake">
                    <div class="products-list__container">
                            <h3 class="products-list__container-title">milkshake</h3>
                            <span></span>
                            <p class="products-list__container-text">The flavors of chocolate and coffee were made to go together. And humans were made to drink milkshakes. We took these
                            two undeniable truths and created our famous Jamocha Shake. It's a frosty, chocolate-y, coffee-y treat.</p>
                            <a class="product-list__container-btn" href="">
                                <svg class="product-list__container-btn-icon">
                                    <use href=""></use>
                                </svg>
                            </a>
                    </div>
            </li>
        </ul>
    </div>
</section>
