<section class="products">
    <div class="container products__container">
        <p class="product__container-pretitle">100% natural</p>
        <h2 class="products__container-title">Products</h2>
        <ul class="products-list list">
            <li class="products-list__item products-list__ice-cream">
                <div class="products-list__container">
                    <h3 class="products-list__container-title">ice cream</h3>
                    <p class="products-list__container-text">Lorem ipsum dolor sit amet, consectetur adipiscing
                                elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                                aliqua facilisis.</p>
                    <!-- <a class="product-list__container-btn" href="">
                                <svg class="product-list__container-btn-icon">
                                    <use href=""></use>
                                </svg>
                    </a> -->
                </div>
            </li>
            <li class="products-list__item products-list__ice-coffee">
                    <div class="products-list__container">
                            <h3 class="products-list__container-title">ice cream</h3>
                            <p class="products-list__container-text">Lorem ipsum dolor sit amet, consectetur adipiscing
                                elit, sed do
                                eiusmod tempor incididunt ut labore et. dolore magna
                                aliqua facilisis.</p>
                            <a class="product-list__container-btn" href="">
                                <svg class="product-list__container-btn-icon">
                                    <use href=""></use>
                                </svg>
                            </a>
                    </div>
            </li>
            <li class="products-list__item products-list__milkshake">
                    <div class="products-list__container">
                            <h3 class="products-list__container-title">ice cream</h3>
                            <p class="products-list__container-text">Lorem ipsum dolor sit amet, consectetur adipiscing
                                elit, sed do
                                eiusmod tempor incididunt ut labore et. dolore magna
                                aliqua facilisis.</p>
                            <a class="product-list__container-btn" href="">
                                <svg class="product-list__container-btn-icon">
                                    <use href=""></use>
                                </svg>
                            </a>
                    </div>
            </li>
        </ul>
    </div>
</section>
